<div class="container">
  <h1>
    Login
  </h1>
  <hr />
  <div class="col-md-8">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="form-group">
        <div *ngIf="email.errors && (email.invalid && email.touched)">
          <em *ngIf="email.errors.required">Email is required</em>
          <em *ngIf="email.errors.pattern">Enter valid email id</em>
        </div>
        <label for="email"> Email :</label> <br />
        <input
          type="text"
          placeholder="Email Address"
          name="email"
          [(ngModel)]="userlogin.email"
          #email="ngModel"
          class="validate"
          [pattern]="emailPattern"
          required
        />
      </div>

      <div class="form-group">
        <div *ngIf="password.errors && password.invalid && password.touched">
          <em *ngIf="password.errors.required">Password is required</em>
          <em *ngIf="password.errors.minlength"
            >Password is minimum 8 characters long.
          </em>
        </div>

        <label for="password"> Password :</label> <br />
        <input
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="userlogin.password"
          #password="ngModel"
          class="validate"
          required
          minlength="8"
        />
      </div>

      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Log In
      </button>
    </form>
  </div>
</div>
