<div>
  <h1>Verify Email</h1>
  <hr />
  <br />
  <div class="col-md-10">
    <form #token="ngForm" (ngSubmit)="verifymail(token.value)">
      <div class="form-gruop">
        <label for="token"> Enter Token :</label> <br />
        <input type="text" name="tk" #tk="ngModel" [ngModel] required />
      </div>
      <br />
      <div *ngIf="isVerified">
        <h5>{{msg}}</h5>
      </div>
      <button [disabled]="!token.valid" class="btn btn-primary" type="submit">
        Verify
      </button>
    </form>
  </div>
</div>
