<div>
  <h1>Verify Email</h1>
  <hr />
  <br />
  <div class="col-md-10">
    <form #token="ngForm" (ngSubmit)="verifymail(token.value)">
      <div class="form-group">
        <em
          *ngIf="(token.controls?.tk?.invalid && token.controls?.tk?.touched) || (token.controls?.tk?.invalid && mouseoverLogin)"
          >Required</em
        >
        <label for="tk"> Enter Token :</label> <br />
        <input type="text" name="tk" #tk="ngModel" ngModel required />
      </div>
      <br />
      <ng-container *ngIf="isVerified">
        <h5>{{msg}}</h5>
      </ng-container>
      <span
        (mouseenter)="mouseoverLogin=true"
        (mouseleave)="mouseoverLogin=false"
      >
        <button [disabled]="!token.valid" class="btn btn-primary" type="submit">
          Verify
        </button>
      </span>
    </form>
  </div>
</div>
