/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-size: medium;
  font-weight: 300;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

label {
  font-size: medium;
  font-weight: 400;
}
