.error input {
  background-color: #e3c3c5;
}
.error ::-webkit-input-placeholder {
  color: #999;
}
.error ::-moz-placeholder {
  color: #999;
}
.error :-moz-placeholder {
  color: #999;
}
.error :ms-input-placeholder {
  color: #999;
}

label {
  font-size: medium;
  font-weight: 300;
}

em {
  float: right;
  color: red;
  font-weight: 300;
}

.form-group,
button {
  width: 55%;
  margin-left: 30%;
}

input {
  width: 100%;
}

button {
  padding: 7px;
}

.error input {
  background-color: #e3c3c5;
}
