<div class="container">
  <h1>Register</h1>
  <hr />
  <div class="col-md-8">
    <form #userRegister="ngForm" (ngSubmit)="addNewUser()">
      <div class="form-group">
        <div *ngIf="username.errors && (username.invalid && username.touched)">
          <em *ngIf="username.errors.required">Username is required</em>
          <em *ngIf="username.errors.minlength"
            >Username must contain minimum 3 characters</em
          >
        </div>
        <label for="username" class="label"> Username :</label> <br />
        <input
          type="text"
          name="username"
          #username="ngModel"
          placeholder="User Name"
          [(ngModel)]="register.username"
          required
          minlength="3"
        />
      </div>

      <div class="form-group">
        <div *ngIf="email.errors && (email.invalid && email.touched)">
          <em *ngIf="email.errors.required">Email is required</em>
          <em *ngIf="email.errors.pattern">Enter valid email id</em>
        </div>
        <label for="email" class="label">Email : </label> <br />
        <input
          type="text"
          placeholder="Email Address"
          name="email"
          [(ngModel)]="register.email"
          #email="ngModel"
          class="validate"
          [pattern]="emailPattern"
          required
        />
      </div>

      <div class="form-group">
        <div *ngIf="password.errors && (password.invalid && password.touched)">
          <em *ngIf="password.errors.required">Password is required</em>
          <em *ngIf="password.errors.minlength"
            >Password is minimum 8 characters long
          </em>
          <em *ngIf="password.errors.pattern"
            >Password must include at least an uppercase, a number & a special
            character.</em
          >
        </div>
        <label for="password" class="label"> Password :</label> <br />
        <input
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="register.password"
          #password="ngModel"
          required
          [pattern]="passwordPattern"
          minlength="8"
        />
      </div>
      <div class="form-group">
        <div
          *ngIf="confirmPassword.errors && (confirmPassword.invalid && confirmPassword.touched)"
        >
          <em *ngIf="confirmPassword.errors.required"
            >Confirm Password is required</em
          >
          <em *ngIf="confirmPassword.errors.pattern"
            >Confirm password and password must match</em
          >
        </div>
        <label for="confirmPassword" class="label"> Confrim Password :</label>
        <br />
        <input
          type="password"
          placeholder="confirm Password"
          name="confirmPassword"
          [ngModel]
          #confirmPassword="ngModel"
          required
          minlength="8"
          pattern="{{ password.value }}"
        />
      </div>

      <div class="form-group">
        <div *ngIf="mobile.errors && (mobile.invalid && mobile.touched)">
          <em *ngIf="mobile.errors.required">Mobile Number is required</em>
          <em *ngIf="mobile.errors.minlength"
            >Mobile Number has 10 digits min.</em
          >
          <em *ngIf="mobile.errors.maxlength"
            >Mobile Number has 10 digits max.
          </em>
        </div>
        <label for="mobile" class="label"> Mobile : </label> <br />
        <input
          type="text"
          name="mobile"
          #mobile="ngModel"
          placeholder="Mobile Number"
          [(ngModel)]="register.mobile"
          required
          minlength="10"
          maxlength="10"
        />
      </div>

      <br />
      <div *ngIf="isregistered">
        <h5>{{msg}}</h5>
      </div>
      <button
        [disabled]="!userRegister.valid"
        class="btn btn-primary"
        type="submit"
      >
        Sign Up
      </button>
      <button class="btn btn-primary" type="reset" (click)="resetForm()">
        Reset
      </button>
    </form>
  </div>
</div>
